.card{
    width: 350px;
    border: 1px solid black;
    margin: 90px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px #cecece;
}

img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

table {
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}